<div class="authorzo">
  <div class="widget widget-about">
    <div class="widget-about-img">
      <a href="{{ module.media.images[module.header.image].url }}">
        <img src="{{ module.media.images[module.header.image].url }}">"
      </a>
    </div>
    {{ module.content }}
    {% if module.header.social %}
    <div class="social-ul">
      <ul>
        {% for item in module.header.social %}
        <li><a href="{{ item.url }}" target="_blank"><i class="fa fa-{{ item.icon }}"></i></a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div class="clearfix"></div>
  </div>
</div>
