{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}" class='{% if browser.getBrowser == 'msie' and browser.getVersion == 7 and browser.getVersion == 8 %}{% else %}v2{% endif %} {% if browser.getBrowser == 'msie' and browser.getVersion == 7 %}ie ie7 ltie8 ltie9{% endif %} {% if browser.getBrowser == 'msie' and browser.getVersion == 8 %}ie ie8 ltie9{% endif %}'>
<head>
  {% block head %}
  <meta charset="utf-8" />
  <title>{% if header.title %}{{ header.title|e('html') }} - {% endif %}{{ 'SITE.TITLE'|t|e('html') }}</title>
  {% include 'partials/metadata.html.twig' %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png" />
  <link rel='stylesheet' id='receptar-google-fonts-css' href='//fonts.googleapis.com/css?family=Roboto%7CRoboto+Condensed%3A400%2C300%7CAlegreya%3A400%2C700&#038;subset&#038;ver=44d4db587900ff753163772c910c3b34' type='text/css' media='all'/>
  <link href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css' rel='stylesheet'/>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab%3A400%2C700&ver=4.2.2' id='roboto-slab-css' media='all' rel='stylesheet' type='text/css'/>
  <meta name="google-translate-customization" content="{{ site.google_translate_token }}">
  {% block stylesheets %}
    {% do assets.addCss('theme://css/slick.css') %}
    {% do assets.addCss('theme://genericons/genericons.css') %}
    {% do assets.addCss('theme://css/starter.css') %}
    {% do assets.addCss('theme://css/style.css') %}
    {% do assets.addCss('theme://css/colors.css') %}
    {% do assets.addCss('theme://css/jetpack.css') %}
    {% do assets.addCss('theme://css/lightbox.css') %}
    {% do assets.addCss('theme://css/custom.css') %}
    {% if browser.getBrowser == 'msie' and browser.getVersion >= 7 and browser.getVersion <= 8 %}
    {% do assets.addCss('theme://css/ie.css') %}
  {% endif %}
  {% endblock %}
  {{ assets.css() }}

  {% block javascripts %}
    {% do assets.add('jquery',101) %}
    {% do assets.add('theme://js/slick.min.js') %}
    {% do assets.add('theme://js/scripts-global.js') %}

  {% endblock %}
  {{ assets.js() }}

  {% if singular %}
  <style id='receptar-stylesheet-inline-css' type='text/css'>.entry-media{background-image:url({% if page.media.images|first %}{{ page.media.images|first.url }}{% else %}{{ theme_url }}/images/{{ site.global_featured_image }}{% endif %})}</style>
  {% endif %}

  {% endblock head %}
</head>
<body id="top" class="{% if template_body_classes %}{{ template_body_classes }}{% else %}fl-builder blog has-featured-posts is-not-singular{% endif %}{{ page.header.body_classes }}">
  <div id="page" class="hfeed site">
    <div class="site-inner">
      {% block header %}
        {% include 'partials/header.html.twig' %}
      {% endblock %}
      {% block slider %}{% endblock %}
      {% block body %}
      <div id="content" class="site-content">
        <div id="primary" class="content-area">
          {% block content %}{% endblock %}
        </div>
      </div>
      {% endblock %}

      {% block footer %}
        {% include 'partials/footer.html.twig' %}
      {% endblock %}
  </div>
</div>

</body>
</html>
