<div class="form-search">
<input type="text" class="search-field" placeholder="{{ 'SEARCH_FIELD'|t }}" value="{{ query }}" data-search-input2="{{ base_url }}{{ config.plugins.simplesearch.route}}/query" />
</div>
<script>
jQuery(document).ready(function($){
    var input = $('[data-search-input2]');

    input.on('keypress', function(event) {
        if (event.which == 13 && input.val().length > 3) {
            event.preventDefault();
            window.location.href = input.data('search-input2') + '{{ config.system.param_sep }}' + input.val();
        }
    });
});
</script>
